<template>
    <v-container>
        <v-layout>
            <v-col cols="6">
                <formulario
                        v-model="novaTarefa"
                        @atualizarTarefa="atualizarTarefa"
                        @limparFormulario="resetarNovaTarefa"
                        @salvarTarefa="salvarNovaTarefa"
                />
            </v-col>
            <v-col cols="6">
                <lista
                        v-model="listaTarefas"
                        @editarTarefa="editarTarefa"
                        @removerTarefa="removerTarefa"
                />
            </v-col>
        </v-layout>
    </v-container>
</template>

<script>
    import _ from 'lodash'
    import {mapState} from 'vuex'
    import {actionTypes} from '@/commons/constants'
    import Formulario from '@/commons/components/Formulario'
    import Lista from '@/commons/components/Lista'

    export default {
        name: 'Todo',
        components: {Lista, Formulario},
        data: () => ({
            novaTarefa: {
                id: '',
                descricao: '',
                concluido: false
            }
        }),
        computed: {
            ...mapState(['listaTarefas'])
        },
        mounted() {
          this.buscarTarefas()
        },
        methods: {
            async atualizar() {
                await this.$store.dispatch(actionTypes.ATUALIZAR_TAREFA, this.novaTarefa)
            },
            async atualizarTarefa() {
                await this.atualizar()
                await this.buscarTarefas()
                this.resetarNovaTarefa()
                this.mostrarMensagemSucesso()
            },
            async buscarTarefas() {
                await this.$store.dispatch(actionTypes.BUSCAR_TAREFAS)
            },
            confirmarRemover() {
                return confirm('Deseja mesmo remover essa tarefa ?')
            },
            editarTarefa(tarefa) {
                this.setarTarefaAtual(tarefa)
            },
            mostrarMensagemSucesso() {
                alert('Operação realizada com sucesso !')
            },
            async remover(tarefa) {
                await this.$store.dispatch(actionTypes.REMOVER_TAREFA, tarefa.id)
            },
            async removerTarefa(tarefa) {
                if (this.confirmarRemover()) {
                    await this.remover(tarefa)
                    await this.buscarTarefas()
                    this.mostrarMensagemSucesso()
                }
            },
            resetarNovaTarefa() {
                this.novaTarefa = {
                    id: '',
                    concluido: false,
                    descricao: ''
                }
            },
            async salvarTarefa(tarefa) {
                await this.$store.dispatch(actionTypes.INSERIR_TAREFA, tarefa)
            },
            async salvarNovaTarefa(tarefa) {
                await this.salvarTarefa(tarefa)
                await this.buscarTarefas()
                this.resetarNovaTarefa()
                this.mostrarMensagemSucesso()
            },
            setarTarefaAtual(tarefa) {
                this.novaTarefa = _.clone(tarefa)
            }
        }
    }
</script>

<style lang="stylus">

</style>
