<template>
    <v-app>
        <todo/>
        <v-footer
                class="font-weight-light"
                v-bind="{absolute: true}"
                dark
                padless>
            <v-col cols="6">Basic Crud</v-col>
            <v-col class="text-right" cols="6">By
                <span class="link" @click="abrirLinkMaycon">Maycon Tanii</span> |
                <span class="link" @click="abrirLinkJose">José Dantas</span>
            </v-col>
        </v-footer>
    </v-app>
</template>

<script>
    import Todo from './view/Todo'

    const LINKEDIN_MAYCON = 'https://www.linkedin.com/in/maycon-tanii-59595b28/'
    const LINKEDIN_JOSE = 'https://www.linkedin.com/in/wellyson-marques-51a329183/'

    export default {
        name: 'App',
        components: {Todo},
        methods: {
            abrirLinkMaycon() {
                window.open(LINKEDIN_MAYCON)
            },
            abrirLinkJose() {
                window.open(LINKEDIN_JOSE)
            }
        }
    }
</script>

<style lang="stylus">
    .link
        cursor pointer

</style>
